<div class="todo-item" (click)="onTodoClicked()" [class.completed]="todoItem.completed">
    <div class="check-box">
        <i class="material-icons">check</i>
    </div>
    <div class="text">
        {{todoItem.text}}
    </div>
    <div class="controls-box" (click)="$event.stopPropagation()">
        <div class="control-button" (click)="onEditClicked()">
            <i class="material-icons">edit</i>
        </div>
        <div class="control-button" (click)="onDeleteClicked()">
            <i class="material-icons">delete</i>
        </div>
    </div>
</div>