@import './../node_modules/bulma/bulma.sass';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
}

.alt-gradient-button {
    border: none;
    background: linear-gradient(to right, rgb(236, 72, 140), rgb(240, 54, 82));
    font-weight: 600;
    color: white;
    opacity: .9;

    &:hover {
        opacity: 1;
        color: white;
    }

    i.material-icons {
        margin-right: 6px;
        margin-left: -5px;
    }
}
